body, ul, li, h1, h2{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}


header{
    background-color: #e47b19;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
header h1{
    color: #ffffff;
    border: 10px solid #ffffff;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 30px;

}
.banner {
    position: relative;
}
.banner img {
    max-width: 100%;
}
.banner .welcome {
    background-color: #e47b19;
    position: absolute;
    padding: 30px;
    left: 0;
    top: 30%;
    color: #ffffff;
}
.banner h2{
    font-size: 60px;
}
.banner h2 span{
    font-size: 1.2em;
}
nav{
    background-color: #f4f4f4;
    padding: 20px;
    position: sticky;
    top: 106px; 
    z-index: 90; 
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width: 25%;
    display: inline-block;
    font-size: 25px;
}
nav li a{
    text-decoration: none;
    color: #4b4b4b; 
}
nav li a.join{
    
    color:#e47b19;
    padding: 10px 20px;
    
}
nav li a.news{
    
    color: #e47b19;
    padding: 10px 20px;
   
}
nav li a.games{
    
    color: #e47b19;
    padding: 10px 20px;
   
}
nav li a.contact{
    
    color: #e47b19;
    padding: 10px 20px;
   
}
main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}
article h2{
    color: #f68032;
    font-size: 40px;
    
}
article p{
   line-height: 2em;
   color: #4b4b4b;
}
.images{
    text-align: center;
    margin: 80px 0; 
    white-space: nowrap;

}
.images li{
    display: inline-block;
    width: 40%

}
.images li img{
    max-width: 100%;
}
.join{
    background-color: #f4f4f4;
    text-align: center;
    padding: 40px;
    padding: 60px  20px;
     color: #4b4b4b;
}
.join h2{
    color: #f68032;
    font-size: 40px;
}
form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid #ffffff
}
footer{
    background-color: #e47b19;
    padding: 10px;
    text-align: center;
    color: #ffffff;
   
    
}
.images li :hover{
    transform: scale(1.1);
    transition: 0.5s;

     
}
form input:focus{
    border: 4px solid #4b4b4b;
    outline: none;
}
form input:valid{
    border: 4px solid #1ae03b;
}
form input:invalid{
    border: 4px solid #ff0d0d;
}
/* responsive design*/
@media screen and (max-width:1100px) {
    .banner h2 {
        font-size: 40px;
    
    }
    nav li{
        font-size: 18px;
    }
}
@media screen and (max-width:700px) {
  .banner .welcome{
    position: relative;
    

  }
  .banner .welcome br{
    display:none;
 } 
    .banner .welcome h2{
        font-size: 25px;
        position:relative;
        text-align: center   ;
    }
 .banner .welcome span {
    font-size: 25px;
 }
 .images li{
    width: 100%;
    margin: 20px auto;
    display: block;
 }
}
@media screen and (max-width: 500px) {
    nav li{
        font-size: 15px;
        position: relative;
        display: block;
        width: 100%;
        margin:12px 0;
    }
    header{
        position: relative;
    }
    nav{
        top: 0;
    }
}